* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Calibri";
    background-color:rgb(248, 248, 248);
}

header {
    height: 100vh;
}

.navbar {
    display: flex;
}

.nav-list {
    display: flex;
}

.logo{
    padding: 10px 0 10px 55px;
}

.logo img {
    cursor: pointer;
    height: 3rem;
    border-radius:8px;
}

.nav-list li {
    margin: 28px 0 0 40px;
    list-style: none;
}

.nav-list li a {
    font-weight: 550;
    padding: 5px;
    border-radius:5px;
    color: #626262;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #cce9e6;
    color: #0ccac1;
}


.right-list i{
    border-right: 2px solid rgb(201, 200, 200);
    padding-right: 2rem;
    cursor:pointer;
}

.right-list {
    margin-left: auto;
    padding-right: 3rem;
    display: flex;
    align-items: center;
}

#menu {
    margin: 0rem 1rem 0rem 0rem;
    background-color: white;
    border: none;
    padding: 0.1rem 1rem;
    font-weight: bold;
    cursor:pointer; 

}

.box {
    cursor:pointer;
    font-weight: bold;
    margin: 0rem 1rem 0rem 2rem;
    border: none;
    color: rgb(11 191 166);
    background-color: #e1edec;
    padding: 0.2rem 1.2rem;
}

#frt-sec {

    display: grid;
    grid-template-areas:
        'left-sec left-sec aside aside';
    align-items: center;
}

.left-sec {
    grid-area: left-sec;
    margin-left: 8rem;

}

aside {
    grid-area: aside;

}

.heading {
    width: 15rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: #2eb7b0;
    text-shadow: 0px 1px #034845;
}

.pera {
    width: 60%;
    margin: 1rem 0;
    color: #646464;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #03958e;
    color: white;
}
.sec-btn{
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    padding: 0.3rem 1rem;
    background-color: #c5f7f4;
    border-radius:2px;

}
.image {
    height: 26rem;
    width: 28rem;
    position: relative;
    top: 1rem;
    right: 15rem;
}

#box {
    border: black 3px solid;
}

.items {
    cursor:pointer;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color: white;
    width: 7rem;
    height: 9rem;
    margin: 2px;
    border-radius:3px;
}

 span.box-color .items:nth-child(2){
    background-color: #0ac9c0;
    color: white;
    }
 
.items i{
    
    font-size: 2.5rem;
    padding: 20px 0px;
    color: #18cbc2;
    cursor: pointer;
}
#second-sec {
    height:60vh;
    /* background-color: gold; */
    display: flex;
    align-items: center;
}
.second-section{
    margin-left:18rem;
}
.send-box{
    margin-left:5rem;
    margin-right: 0%;
        width: 35%;
}

.first{
    display: flex;
    align-items: center;
}
.sec-box .item {
    display: flex;
    align-items: center;
}

.third-box{
    
    display: flex;
    align-items: center;
}
.sec-pera{
    margin: 1rem 0;
    color: #646464;
}
.bottom-icon {
    margin-top: 30px;
}

.bottom-icon i{
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50px;
    color: #213fd1;
    border: 1px solid blue;
    margin: 5px 9px;
    padding: 5px 10px;
}
.bottom-icon i:nth-child(2){
    color: #18cbc2;
    background-color: #dff7f5;
    border:none;
}
#icon-color{
    color:white;
}

.bottom-icon i:nth-child(3){
    color:plum;
    border:none;
    background-color: rgb(240, 217, 240);
}

.sec-box h2{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    padding: 15px 25px;
    font-size: 2rem;
    color: #3376ed;
    
}
#third-sec{
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    display:flex;
}
.third{
    margin-right:5rem;
    width: 35%;
}
.sec-heading{
font-size: 2.2rem;  
    font-weight: 500;
    color: #000;
    text-shadow: 0px 1px #034845;
}
.sec-box{
    padding: 0.5rem;
    height: 13rem;
    width: 10rem;
    text-align: center;
    margin: 15px 5px;
}
.sec-box img{
    height: 4rem;
    margin-bottom:20px;
    border-radius:50%;
}
.last-image img{
    height: 25rem;
    width: 30rem;
}
.last-image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem
}
footer{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}
footer p{
    width: 30rem;
    text-align: center; 
    margin:1rem;
    color: #5e5e5e;
}
